<h1>Contactar</h1>
<div class="caja">
    <div class="izq">
        <div class="content">

            <form [formGroup]="forma" (ngSubmit)="guardar()">
                <div class="row">
                    <div class="col-5">
                        <label for="fname">Nombre</label>
                    </div>
                </div> 
                <div>
                    <input 
                    type="text" 
                    id="fname"
                    placeholder="Nombre"
                    class="txtbox"
                    formControlName="nombre"
                    [class.is-invalid]="nombreNovalido"
                    >
                    <small class="text-danger" *ngIf="nombreNovalido">Ingrese más de 3 letras</small>
                </div> 
                <div class="row">
                    <div class="col-5">
                      <label for="femail" class="lbl">Email</label>
                    </div>
                    <div>
                      <input 
                      type="text"
                      id="femail"
                      placeholder="Correo Electrónico"
                      class="txtbox"
                      formControlName="correo"
                      [class.is-invalid] = "correoNoValido" 
                      >
                      <small class="text-danger" *ngIf="correoNoValido">Ingrese un correo válido</small>
                    </div>
                  </div>
                  <button type="submit" class="btn" [disabled]="forma.invalid">Guardar</button>

              
              
                
<!-- 
                <p class="name">
                    <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Nombre" id="name" />
                </p>

                <p class="email">
                    <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
                </p>

                <p class="text">
                    <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Mensaje"></textarea>
                </p>


                <div class="submit">
                    <input type="submit" value="ENVIAR" id="boton"/>
                    <div class="transicion"></div>
                </div> -->
            </form>

        </div>
    </div>

    <!-- <div class="dch">
        <div class="content">
            <div class="list-group">
                <p class="list-group-item"><a href="https://www.google.es/maps/dir/''/Calle+de+la+Alegr%C3%ADa+de+la+Huerta,+28041+Madrid/@40.3547542,-3.6971929,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0xd4226e65555db41:0x79694b1c07067a2a!2m2!1d-3.6947353!2d40.3547599!1m5!1m1!1s0xd4226e65555db41:0x79694b1c07067a2a!2m2!1d-3.6950371!2d40.3547403" target="_blank"><i class="fa fa-map-marker fa-fw iconos"></i></a> <span>Calle Alegría de la Huerta</span></p><br>
                <p class="list-group-item"><a href="mailto:alu0100505665@ull.edu.es"><i class="fa fa-envelope fa-fw iconos"></i></a> <span>alu0000000000@ull.edu.es</span></p><br>
                <p class="list-group-item"><i class="fa fa-phone fa-fw iconos"></i><span>922 222 222</span></p><br>
                <p class="list-group-item"><i class="fa fa-mobile-phone fa-fw iconos"></i><span>666 666 666</span></p><br>
                <p class="list-group-item"><i class="fa fa-fax fa-fw iconos"></i><span>+34 922 999 999</span></p><br>
            </div>
        </div>
    </div> -->
</div> FIN CAJA
<!-- </section>   --> 



