<h1 class="titulo">INFORMACIÓN PERSONAL</h1>
  
<div class="datos">
  <b class="n1"> NOMBRE:</b> <p class="n2"> Marian Yelin.</p> 
  <br>
  <b class="n1"> APELLIDOS:</b> <p class="n2">Suarez Nibusha.</p> 
  <br>
  <b class="n1">FECHA DE NACIMIENTO:</b> <p class="n2"> 10/07/2004.</p>
  <br>
  <b class="n1">LUGAR DE NACIMIENTO:</b>  <p class="n2">Santa Cruz de la Sierra - Andres Ibañes.</p> 
  <br>
  <b class="n1" >NACIONALIDAD:</b> <p class="n2"  >Boliviana.</p>  
  <br>
  <b  class="n1">CI:</b>  <p  class="n2" >10829504.</p> 
  <br>
  <b class="n1">ESTADO CIVIL:</b>  <p class="n2" >  Soltera.</p>
  <br>
  <b class="n1">EDAD: </b> <p class="n2" >18 años.</p>  
  <br>
  <b class="n1"> LUGAR DE RESIDENCIA:</b>   <p  class="n2">Cochabamba.</p> 
  <br>
  <b class="n1">DIRECCCIÓN: </b> <p class="n2" >Av/Petrolera 7.5km Zona/Nueva Vera Cruz.</p>  
  <br>
  <b class="n1">EMAIL:</b>   <p  class="n2"> mariansuarez380@gmail.com.</p> 
  <br>
  <b class="n1">NÚMERO DE CELULAR:</b>  <p class="n2" > 68498440.</p> 
 </div>
 <div>
  
 </div>
  