.datos{
 padding: 60px;
 margin: 2px; 
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.n1{
  font-size: 25px;
  color: crimson;
}

.n2{
  font-size: 25px;
 margin: 2px;
 
 
} 

.titulo{
  text-align: center;
  padding: 25px;
  font-family: Georgia;
  font-size:  50px;
color: crimson;
  
}